<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xedaojia.crowdsource.mapper.MainOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xedaojia.crowdsource.domain.MainOrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="mx_order_id" property="mxOrderId" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="req_sys_id" property="reqSysId" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="coupon_ids" property="couponIds" jdbcType="VARCHAR" />
    <result column="coupon_all_money" property="couponAllMoney" jdbcType="DECIMAL" />
    <result column="xx_coupon_money" property="xxCouponMoney" jdbcType="DECIMAL" />
    <result column="wallet_type" property="walletType" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    <result column="user_province_name" property="userProvinceName" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="user_city_name" property="userCityName" jdbcType="VARCHAR" />
    <result column="user_district" property="userDistrict" jdbcType="VARCHAR" />
    <result column="user_district_name" property="userDistrictName" jdbcType="VARCHAR" />
    <result column="user_19e_area" property="user19eArea" jdbcType="VARCHAR" />
    <result column="user_19e_area_name" property="user19eAreaName" jdbcType="VARCHAR" />
    <result column="user_biotope_id" property="userBiotopeId" jdbcType="VARCHAR" />
    <result column="user_biotope_name" property="userBiotopeName" jdbcType="VARCHAR" />
    <result column="jwdu" property="jwdu" jdbcType="VARCHAR" />
    <result column="user_house" property="userHouse" jdbcType="VARCHAR" />
    <result column="user_addr_id" property="userAddrId" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="accpt_time" property="accptTime" jdbcType="TIMESTAMP" />
    <result column="is_appoint" property="isAppoint" jdbcType="INTEGER" />
    <result column="user_grant" property="userGrant" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="yunfee_price" property="yunfeePrice" jdbcType="DECIMAL" />
    <result column="ptf_price" property="ptfPrice" jdbcType="DECIMAL" />
    <result column="order_final_price" property="orderFinalPrice" jdbcType="DECIMAL" />
    <result column="order_original_price" property="orderOriginalPrice" jdbcType="DECIMAL" />
    <result column="pay_price" property="payPrice" jdbcType="DECIMAL" />
    <result column="yxjm_price" property="yxjmPrice" jdbcType="DECIMAL" />
    <result column="xp_price" property="xpPrice" jdbcType="DECIMAL" />
    <result column="is_fp" property="isFp" jdbcType="INTEGER" />
    <result column="invoice_type" property="invoiceType" jdbcType="INTEGER" />
    <result column="fp_type" property="fpType" jdbcType="INTEGER" />
    <result column="fp_title" property="fpTitle" jdbcType="VARCHAR" />
    <result column="order_desc" property="orderDesc" jdbcType="VARCHAR" />
    <result column="market_rule_id" property="marketRuleId" jdbcType="VARCHAR" />
    <result column="order_accpt_id" property="orderAccptId" jdbcType="VARCHAR" />
    <result column="order_accpt_name" property="orderAccptName" jdbcType="VARCHAR" />
    <result column="order_accpt_phone" property="orderAccptPhone" jdbcType="VARCHAR" />
    <result column="order_accpt_company" property="orderAccptCompany" jdbcType="VARCHAR" />
    <result column="order_bh_id" property="orderBhId" jdbcType="VARCHAR" />
    <result column="order_bh_name" property="orderBhName" jdbcType="VARCHAR" />
    <result column="bh_phone" property="bhPhone" jdbcType="VARCHAR" />
    <result column="order_hl_id" property="orderHlId" jdbcType="VARCHAR" />
    <result column="order_hl_name" property="orderHlName" jdbcType="VARCHAR" />
    <result column="hl_phone" property="hlPhone" jdbcType="VARCHAR" />
    <result column="order_send_id" property="orderSendId" jdbcType="VARCHAR" />
    <result column="order_send_name" property="orderSendName" jdbcType="VARCHAR" />
    <result column="order_send_phone" property="orderSendPhone" jdbcType="VARCHAR" />
    <result column="active_refund_money" property="activeRefundMoney" jdbcType="DECIMAL" />
    <result column="active_refund_coupon" property="activeRefundCoupon" jdbcType="DECIMAL" />
    <result column="passed_refund_money" property="passedRefundMoney" jdbcType="DECIMAL" />
    <result column="passed_refund_coupon" property="passedRefundCoupon" jdbcType="DECIMAL" />
    <result column="js_time" property="jsTime" jdbcType="TIMESTAMP" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="assigin_time" property="assiginTime" jdbcType="TIMESTAMP" />
    <result column="ready_time" property="readyTime" jdbcType="TIMESTAMP" />
    <result column="get_time" property="getTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="up_status" property="upStatus" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="assign_status" property="assignStatus" jdbcType="INTEGER" />
    <result column="ready_status" property="readyStatus" jdbcType="INTEGER" />
    <result column="get_status" property="getStatus" jdbcType="INTEGER" />
    <result column="send_status" property="sendStatus" jdbcType="INTEGER" />
    <result column="service_status" property="serviceStatus" jdbcType="INTEGER" />
    <result column="cancel_status" property="cancelStatus" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="req_ip" property="reqIp" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="evaluation" property="evaluation" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="hard_id" property="hardId" jdbcType="VARCHAR" />
    <result column="busi_type" property="busiType" jdbcType="INTEGER" />
    <result column="busi_order_id" property="busiOrderId" jdbcType="VARCHAR" />
    <result column="busi_keyword" property="busiKeyword" jdbcType="VARCHAR" />
    <result column="first_order" property="firstOrder" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="marketing_zkl" property="marketingZkl" jdbcType="DECIMAL" />
    <result column="marketing_max_amount" property="marketingMaxAmount" jdbcType="DECIMAL" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="busi_qiang_time" property="busiQiangTime" jdbcType="TIMESTAMP" />
    <result column="bh_qiang_time" property="bhQiangTime" jdbcType="TIMESTAMP" />
    <result column="print_cnt" property="printCnt" jdbcType="INTEGER" />
    <result column="source_ip" property="sourceIp" jdbcType="VARCHAR" />
    <result column="send_type" property="sendType" jdbcType="INTEGER" />
    <result column="receivable_money" property="receivableMoney" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, mx_order_id, order_type, app_id, req_sys_id, pay_type, coupon_ids, 
    coupon_all_money, xx_coupon_money, wallet_type, uid, user_id, user_name, user_phone, 
    user_status, user_province, user_province_name, user_city, user_city_name, user_district, 
    user_district_name, user_19e_area, user_19e_area_name, user_biotope_id, user_biotope_name, 
    jwdu, user_house, user_addr_id, user_address, accpt_time, is_appoint, user_grant, 
    order_price, yunfee_price, ptf_price, order_final_price, order_original_price, pay_price, 
    yxjm_price, xp_price, is_fp, invoice_type, fp_type, fp_title, order_desc, market_rule_id, 
    order_accpt_id, order_accpt_name, order_accpt_phone, order_accpt_company, order_bh_id, 
    order_bh_name, bh_phone, order_hl_id, order_hl_name, hl_phone, order_send_id, order_send_name, 
    order_send_phone, active_refund_money, active_refund_coupon, passed_refund_money, 
    passed_refund_coupon, js_time, order_time, pay_time, assigin_time, ready_time, get_time, 
    update_time, up_status, pay_status, assign_status, ready_status, get_status, send_status, 
    service_status, cancel_status, order_status, req_ip, remark, reject_reason, confirm_time, 
    receive_time, evaluation, openid, hard_id, busi_type, busi_order_id, busi_keyword, 
    first_order, version, marketing_zkl, marketing_max_amount, shop_id, busi_qiang_time, 
    bh_qiang_time, print_cnt, source_ip, send_type, receivable_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zb_main_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zb_main_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xedaojia.crowdsource.domain.MainOrderInfo" >
    insert into zb_main_order_info (id, order_id, mx_order_id, 
      order_type, app_id, req_sys_id, 
      pay_type, coupon_ids, coupon_all_money, 
      xx_coupon_money, wallet_type, uid, 
      user_id, user_name, user_phone, 
      user_status, user_province, user_province_name, 
      user_city, user_city_name, user_district, 
      user_district_name, user_19e_area, user_19e_area_name, 
      user_biotope_id, user_biotope_name, jwdu, 
      user_house, user_addr_id, user_address, 
      accpt_time, is_appoint, user_grant, 
      order_price, yunfee_price, ptf_price, 
      order_final_price, order_original_price, pay_price, 
      yxjm_price, xp_price, is_fp, 
      invoice_type, fp_type, fp_title, 
      order_desc, market_rule_id, order_accpt_id, 
      order_accpt_name, order_accpt_phone, order_accpt_company, 
      order_bh_id, order_bh_name, bh_phone, 
      order_hl_id, order_hl_name, hl_phone, 
      order_send_id, order_send_name, order_send_phone, 
      active_refund_money, active_refund_coupon, 
      passed_refund_money, passed_refund_coupon, 
      js_time, order_time, pay_time, 
      assigin_time, ready_time, get_time, 
      update_time, up_status, pay_status, 
      assign_status, ready_status, get_status, 
      send_status, service_status, cancel_status, 
      order_status, req_ip, remark, 
      reject_reason, confirm_time, receive_time, 
      evaluation, openid, hard_id, 
      busi_type, busi_order_id, busi_keyword, 
      first_order, version, marketing_zkl, 
      marketing_max_amount, shop_id, busi_qiang_time, 
      bh_qiang_time, print_cnt, source_ip, 
      send_type, receivable_money)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{mxOrderId,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{reqSysId,jdbcType=VARCHAR}, 
      #{payType,jdbcType=INTEGER}, #{couponIds,jdbcType=VARCHAR}, #{couponAllMoney,jdbcType=DECIMAL}, 
      #{xxCouponMoney,jdbcType=DECIMAL}, #{walletType,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=INTEGER}, #{userProvince,jdbcType=VARCHAR}, #{userProvinceName,jdbcType=VARCHAR}, 
      #{userCity,jdbcType=VARCHAR}, #{userCityName,jdbcType=VARCHAR}, #{userDistrict,jdbcType=VARCHAR}, 
      #{userDistrictName,jdbcType=VARCHAR}, #{user19eArea,jdbcType=VARCHAR}, #{user19eAreaName,jdbcType=VARCHAR}, 
      #{userBiotopeId,jdbcType=VARCHAR}, #{userBiotopeName,jdbcType=VARCHAR}, #{jwdu,jdbcType=VARCHAR}, 
      #{userHouse,jdbcType=VARCHAR}, #{userAddrId,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, 
      #{accptTime,jdbcType=TIMESTAMP}, #{isAppoint,jdbcType=INTEGER}, #{userGrant,jdbcType=INTEGER}, 
      #{orderPrice,jdbcType=DECIMAL}, #{yunfeePrice,jdbcType=DECIMAL}, #{ptfPrice,jdbcType=DECIMAL}, 
      #{orderFinalPrice,jdbcType=DECIMAL}, #{orderOriginalPrice,jdbcType=DECIMAL}, #{payPrice,jdbcType=DECIMAL}, 
      #{yxjmPrice,jdbcType=DECIMAL}, #{xpPrice,jdbcType=DECIMAL}, #{isFp,jdbcType=INTEGER}, 
      #{invoiceType,jdbcType=INTEGER}, #{fpType,jdbcType=INTEGER}, #{fpTitle,jdbcType=VARCHAR}, 
      #{orderDesc,jdbcType=VARCHAR}, #{marketRuleId,jdbcType=VARCHAR}, #{orderAccptId,jdbcType=VARCHAR}, 
      #{orderAccptName,jdbcType=VARCHAR}, #{orderAccptPhone,jdbcType=VARCHAR}, #{orderAccptCompany,jdbcType=VARCHAR}, 
      #{orderBhId,jdbcType=VARCHAR}, #{orderBhName,jdbcType=VARCHAR}, #{bhPhone,jdbcType=VARCHAR}, 
      #{orderHlId,jdbcType=VARCHAR}, #{orderHlName,jdbcType=VARCHAR}, #{hlPhone,jdbcType=VARCHAR}, 
      #{orderSendId,jdbcType=VARCHAR}, #{orderSendName,jdbcType=VARCHAR}, #{orderSendPhone,jdbcType=VARCHAR}, 
      #{activeRefundMoney,jdbcType=DECIMAL}, #{activeRefundCoupon,jdbcType=DECIMAL}, 
      #{passedRefundMoney,jdbcType=DECIMAL}, #{passedRefundCoupon,jdbcType=DECIMAL}, 
      #{jsTime,jdbcType=TIMESTAMP}, #{orderTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{assiginTime,jdbcType=TIMESTAMP}, #{readyTime,jdbcType=TIMESTAMP}, #{getTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{upStatus,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, 
      #{assignStatus,jdbcType=INTEGER}, #{readyStatus,jdbcType=INTEGER}, #{getStatus,jdbcType=INTEGER}, 
      #{sendStatus,jdbcType=INTEGER}, #{serviceStatus,jdbcType=INTEGER}, #{cancelStatus,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=INTEGER}, #{reqIp,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{rejectReason,jdbcType=VARCHAR}, #{confirmTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{evaluation,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{hardId,jdbcType=VARCHAR}, 
      #{busiType,jdbcType=INTEGER}, #{busiOrderId,jdbcType=VARCHAR}, #{busiKeyword,jdbcType=VARCHAR}, 
      #{firstOrder,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{marketingZkl,jdbcType=DECIMAL}, 
      #{marketingMaxAmount,jdbcType=DECIMAL}, #{shopId,jdbcType=VARCHAR}, #{busiQiangTime,jdbcType=TIMESTAMP}, 
      #{bhQiangTime,jdbcType=TIMESTAMP}, #{printCnt,jdbcType=INTEGER}, #{sourceIp,jdbcType=VARCHAR}, 
      #{sendType,jdbcType=INTEGER}, #{receivableMoney,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xedaojia.crowdsource.domain.MainOrderInfo" >
    insert into zb_main_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="mxOrderId != null" >
        mx_order_id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="reqSysId != null" >
        req_sys_id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="couponIds != null" >
        coupon_ids,
      </if>
      <if test="couponAllMoney != null" >
        coupon_all_money,
      </if>
      <if test="xxCouponMoney != null" >
        xx_coupon_money,
      </if>
      <if test="walletType != null" >
        wallet_type,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="userProvince != null" >
        user_province,
      </if>
      <if test="userProvinceName != null" >
        user_province_name,
      </if>
      <if test="userCity != null" >
        user_city,
      </if>
      <if test="userCityName != null" >
        user_city_name,
      </if>
      <if test="userDistrict != null" >
        user_district,
      </if>
      <if test="userDistrictName != null" >
        user_district_name,
      </if>
      <if test="user19eArea != null" >
        user_19e_area,
      </if>
      <if test="user19eAreaName != null" >
        user_19e_area_name,
      </if>
      <if test="userBiotopeId != null" >
        user_biotope_id,
      </if>
      <if test="userBiotopeName != null" >
        user_biotope_name,
      </if>
      <if test="jwdu != null" >
        jwdu,
      </if>
      <if test="userHouse != null" >
        user_house,
      </if>
      <if test="userAddrId != null" >
        user_addr_id,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
      <if test="accptTime != null" >
        accpt_time,
      </if>
      <if test="isAppoint != null" >
        is_appoint,
      </if>
      <if test="userGrant != null" >
        user_grant,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="yunfeePrice != null" >
        yunfee_price,
      </if>
      <if test="ptfPrice != null" >
        ptf_price,
      </if>
      <if test="orderFinalPrice != null" >
        order_final_price,
      </if>
      <if test="orderOriginalPrice != null" >
        order_original_price,
      </if>
      <if test="payPrice != null" >
        pay_price,
      </if>
      <if test="yxjmPrice != null" >
        yxjm_price,
      </if>
      <if test="xpPrice != null" >
        xp_price,
      </if>
      <if test="isFp != null" >
        is_fp,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="fpType != null" >
        fp_type,
      </if>
      <if test="fpTitle != null" >
        fp_title,
      </if>
      <if test="orderDesc != null" >
        order_desc,
      </if>
      <if test="marketRuleId != null" >
        market_rule_id,
      </if>
      <if test="orderAccptId != null" >
        order_accpt_id,
      </if>
      <if test="orderAccptName != null" >
        order_accpt_name,
      </if>
      <if test="orderAccptPhone != null" >
        order_accpt_phone,
      </if>
      <if test="orderAccptCompany != null" >
        order_accpt_company,
      </if>
      <if test="orderBhId != null" >
        order_bh_id,
      </if>
      <if test="orderBhName != null" >
        order_bh_name,
      </if>
      <if test="bhPhone != null" >
        bh_phone,
      </if>
      <if test="orderHlId != null" >
        order_hl_id,
      </if>
      <if test="orderHlName != null" >
        order_hl_name,
      </if>
      <if test="hlPhone != null" >
        hl_phone,
      </if>
      <if test="orderSendId != null" >
        order_send_id,
      </if>
      <if test="orderSendName != null" >
        order_send_name,
      </if>
      <if test="orderSendPhone != null" >
        order_send_phone,
      </if>
      <if test="activeRefundMoney != null" >
        active_refund_money,
      </if>
      <if test="activeRefundCoupon != null" >
        active_refund_coupon,
      </if>
      <if test="passedRefundMoney != null" >
        passed_refund_money,
      </if>
      <if test="passedRefundCoupon != null" >
        passed_refund_coupon,
      </if>
      <if test="jsTime != null" >
        js_time,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="assiginTime != null" >
        assigin_time,
      </if>
      <if test="readyTime != null" >
        ready_time,
      </if>
      <if test="getTime != null" >
        get_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="upStatus != null" >
        up_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="assignStatus != null" >
        assign_status,
      </if>
      <if test="readyStatus != null" >
        ready_status,
      </if>
      <if test="getStatus != null" >
        get_status,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="serviceStatus != null" >
        service_status,
      </if>
      <if test="cancelStatus != null" >
        cancel_status,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="reqIp != null" >
        req_ip,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="evaluation != null" >
        evaluation,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="hardId != null" >
        hard_id,
      </if>
      <if test="busiType != null" >
        busi_type,
      </if>
      <if test="busiOrderId != null" >
        busi_order_id,
      </if>
      <if test="busiKeyword != null" >
        busi_keyword,
      </if>
      <if test="firstOrder != null" >
        first_order,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="marketingZkl != null" >
        marketing_zkl,
      </if>
      <if test="marketingMaxAmount != null" >
        marketing_max_amount,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="busiQiangTime != null" >
        busi_qiang_time,
      </if>
      <if test="bhQiangTime != null" >
        bh_qiang_time,
      </if>
      <if test="printCnt != null" >
        print_cnt,
      </if>
      <if test="sourceIp != null" >
        source_ip,
      </if>
      <if test="sendType != null" >
        send_type,
      </if>
      <if test="receivableMoney != null" >
        receivable_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mxOrderId != null" >
        #{mxOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="reqSysId != null" >
        #{reqSysId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="couponIds != null" >
        #{couponIds,jdbcType=VARCHAR},
      </if>
      <if test="couponAllMoney != null" >
        #{couponAllMoney,jdbcType=DECIMAL},
      </if>
      <if test="xxCouponMoney != null" >
        #{xxCouponMoney,jdbcType=DECIMAL},
      </if>
      <if test="walletType != null" >
        #{walletType,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null" >
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userProvinceName != null" >
        #{userProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userCityName != null" >
        #{userCityName,jdbcType=VARCHAR},
      </if>
      <if test="userDistrict != null" >
        #{userDistrict,jdbcType=VARCHAR},
      </if>
      <if test="userDistrictName != null" >
        #{userDistrictName,jdbcType=VARCHAR},
      </if>
      <if test="user19eArea != null" >
        #{user19eArea,jdbcType=VARCHAR},
      </if>
      <if test="user19eAreaName != null" >
        #{user19eAreaName,jdbcType=VARCHAR},
      </if>
      <if test="userBiotopeId != null" >
        #{userBiotopeId,jdbcType=VARCHAR},
      </if>
      <if test="userBiotopeName != null" >
        #{userBiotopeName,jdbcType=VARCHAR},
      </if>
      <if test="jwdu != null" >
        #{jwdu,jdbcType=VARCHAR},
      </if>
      <if test="userHouse != null" >
        #{userHouse,jdbcType=VARCHAR},
      </if>
      <if test="userAddrId != null" >
        #{userAddrId,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="accptTime != null" >
        #{accptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAppoint != null" >
        #{isAppoint,jdbcType=INTEGER},
      </if>
      <if test="userGrant != null" >
        #{userGrant,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="yunfeePrice != null" >
        #{yunfeePrice,jdbcType=DECIMAL},
      </if>
      <if test="ptfPrice != null" >
        #{ptfPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderFinalPrice != null" >
        #{orderFinalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOriginalPrice != null" >
        #{orderOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="payPrice != null" >
        #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="yxjmPrice != null" >
        #{yxjmPrice,jdbcType=DECIMAL},
      </if>
      <if test="xpPrice != null" >
        #{xpPrice,jdbcType=DECIMAL},
      </if>
      <if test="isFp != null" >
        #{isFp,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="fpType != null" >
        #{fpType,jdbcType=INTEGER},
      </if>
      <if test="fpTitle != null" >
        #{fpTitle,jdbcType=VARCHAR},
      </if>
      <if test="orderDesc != null" >
        #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="marketRuleId != null" >
        #{marketRuleId,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptId != null" >
        #{orderAccptId,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptName != null" >
        #{orderAccptName,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptPhone != null" >
        #{orderAccptPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptCompany != null" >
        #{orderAccptCompany,jdbcType=VARCHAR},
      </if>
      <if test="orderBhId != null" >
        #{orderBhId,jdbcType=VARCHAR},
      </if>
      <if test="orderBhName != null" >
        #{orderBhName,jdbcType=VARCHAR},
      </if>
      <if test="bhPhone != null" >
        #{bhPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderHlId != null" >
        #{orderHlId,jdbcType=VARCHAR},
      </if>
      <if test="orderHlName != null" >
        #{orderHlName,jdbcType=VARCHAR},
      </if>
      <if test="hlPhone != null" >
        #{hlPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderSendId != null" >
        #{orderSendId,jdbcType=VARCHAR},
      </if>
      <if test="orderSendName != null" >
        #{orderSendName,jdbcType=VARCHAR},
      </if>
      <if test="orderSendPhone != null" >
        #{orderSendPhone,jdbcType=VARCHAR},
      </if>
      <if test="activeRefundMoney != null" >
        #{activeRefundMoney,jdbcType=DECIMAL},
      </if>
      <if test="activeRefundCoupon != null" >
        #{activeRefundCoupon,jdbcType=DECIMAL},
      </if>
      <if test="passedRefundMoney != null" >
        #{passedRefundMoney,jdbcType=DECIMAL},
      </if>
      <if test="passedRefundCoupon != null" >
        #{passedRefundCoupon,jdbcType=DECIMAL},
      </if>
      <if test="jsTime != null" >
        #{jsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assiginTime != null" >
        #{assiginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyTime != null" >
        #{readyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="getTime != null" >
        #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upStatus != null" >
        #{upStatus,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="assignStatus != null" >
        #{assignStatus,jdbcType=INTEGER},
      </if>
      <if test="readyStatus != null" >
        #{readyStatus,jdbcType=INTEGER},
      </if>
      <if test="getStatus != null" >
        #{getStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceStatus != null" >
        #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="cancelStatus != null" >
        #{cancelStatus,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="reqIp != null" >
        #{reqIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluation != null" >
        #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="hardId != null" >
        #{hardId,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        #{busiType,jdbcType=INTEGER},
      </if>
      <if test="busiOrderId != null" >
        #{busiOrderId,jdbcType=VARCHAR},
      </if>
      <if test="busiKeyword != null" >
        #{busiKeyword,jdbcType=VARCHAR},
      </if>
      <if test="firstOrder != null" >
        #{firstOrder,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="marketingZkl != null" >
        #{marketingZkl,jdbcType=DECIMAL},
      </if>
      <if test="marketingMaxAmount != null" >
        #{marketingMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="busiQiangTime != null" >
        #{busiQiangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhQiangTime != null" >
        #{bhQiangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printCnt != null" >
        #{printCnt,jdbcType=INTEGER},
      </if>
      <if test="sourceIp != null" >
        #{sourceIp,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null" >
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="receivableMoney != null" >
        #{receivableMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xedaojia.crowdsource.domain.MainOrderInfo" >
    update zb_main_order_info
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="mxOrderId != null" >
        mx_order_id = #{mxOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="reqSysId != null" >
        req_sys_id = #{reqSysId,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="couponIds != null" >
        coupon_ids = #{couponIds,jdbcType=VARCHAR},
      </if>
      <if test="couponAllMoney != null" >
        coupon_all_money = #{couponAllMoney,jdbcType=DECIMAL},
      </if>
      <if test="xxCouponMoney != null" >
        xx_coupon_money = #{xxCouponMoney,jdbcType=DECIMAL},
      </if>
      <if test="walletType != null" >
        wallet_type = #{walletType,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userProvince != null" >
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userProvinceName != null" >
        user_province_name = #{userProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userCityName != null" >
        user_city_name = #{userCityName,jdbcType=VARCHAR},
      </if>
      <if test="userDistrict != null" >
        user_district = #{userDistrict,jdbcType=VARCHAR},
      </if>
      <if test="userDistrictName != null" >
        user_district_name = #{userDistrictName,jdbcType=VARCHAR},
      </if>
      <if test="user19eArea != null" >
        user_19e_area = #{user19eArea,jdbcType=VARCHAR},
      </if>
      <if test="user19eAreaName != null" >
        user_19e_area_name = #{user19eAreaName,jdbcType=VARCHAR},
      </if>
      <if test="userBiotopeId != null" >
        user_biotope_id = #{userBiotopeId,jdbcType=VARCHAR},
      </if>
      <if test="userBiotopeName != null" >
        user_biotope_name = #{userBiotopeName,jdbcType=VARCHAR},
      </if>
      <if test="jwdu != null" >
        jwdu = #{jwdu,jdbcType=VARCHAR},
      </if>
      <if test="userHouse != null" >
        user_house = #{userHouse,jdbcType=VARCHAR},
      </if>
      <if test="userAddrId != null" >
        user_addr_id = #{userAddrId,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="accptTime != null" >
        accpt_time = #{accptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAppoint != null" >
        is_appoint = #{isAppoint,jdbcType=INTEGER},
      </if>
      <if test="userGrant != null" >
        user_grant = #{userGrant,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="yunfeePrice != null" >
        yunfee_price = #{yunfeePrice,jdbcType=DECIMAL},
      </if>
      <if test="ptfPrice != null" >
        ptf_price = #{ptfPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderFinalPrice != null" >
        order_final_price = #{orderFinalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderOriginalPrice != null" >
        order_original_price = #{orderOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="payPrice != null" >
        pay_price = #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="yxjmPrice != null" >
        yxjm_price = #{yxjmPrice,jdbcType=DECIMAL},
      </if>
      <if test="xpPrice != null" >
        xp_price = #{xpPrice,jdbcType=DECIMAL},
      </if>
      <if test="isFp != null" >
        is_fp = #{isFp,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="fpType != null" >
        fp_type = #{fpType,jdbcType=INTEGER},
      </if>
      <if test="fpTitle != null" >
        fp_title = #{fpTitle,jdbcType=VARCHAR},
      </if>
      <if test="orderDesc != null" >
        order_desc = #{orderDesc,jdbcType=VARCHAR},
      </if>
      <if test="marketRuleId != null" >
        market_rule_id = #{marketRuleId,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptId != null" >
        order_accpt_id = #{orderAccptId,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptName != null" >
        order_accpt_name = #{orderAccptName,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptPhone != null" >
        order_accpt_phone = #{orderAccptPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAccptCompany != null" >
        order_accpt_company = #{orderAccptCompany,jdbcType=VARCHAR},
      </if>
      <if test="orderBhId != null" >
        order_bh_id = #{orderBhId,jdbcType=VARCHAR},
      </if>
      <if test="orderBhName != null" >
        order_bh_name = #{orderBhName,jdbcType=VARCHAR},
      </if>
      <if test="bhPhone != null" >
        bh_phone = #{bhPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderHlId != null" >
        order_hl_id = #{orderHlId,jdbcType=VARCHAR},
      </if>
      <if test="orderHlName != null" >
        order_hl_name = #{orderHlName,jdbcType=VARCHAR},
      </if>
      <if test="hlPhone != null" >
        hl_phone = #{hlPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderSendId != null" >
        order_send_id = #{orderSendId,jdbcType=VARCHAR},
      </if>
      <if test="orderSendName != null" >
        order_send_name = #{orderSendName,jdbcType=VARCHAR},
      </if>
      <if test="orderSendPhone != null" >
        order_send_phone = #{orderSendPhone,jdbcType=VARCHAR},
      </if>
      <if test="activeRefundMoney != null" >
        active_refund_money = #{activeRefundMoney,jdbcType=DECIMAL},
      </if>
      <if test="activeRefundCoupon != null" >
        active_refund_coupon = #{activeRefundCoupon,jdbcType=DECIMAL},
      </if>
      <if test="passedRefundMoney != null" >
        passed_refund_money = #{passedRefundMoney,jdbcType=DECIMAL},
      </if>
      <if test="passedRefundCoupon != null" >
        passed_refund_coupon = #{passedRefundCoupon,jdbcType=DECIMAL},
      </if>
      <if test="jsTime != null" >
        js_time = #{jsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assiginTime != null" >
        assigin_time = #{assiginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readyTime != null" >
        ready_time = #{readyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="getTime != null" >
        get_time = #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upStatus != null" >
        up_status = #{upStatus,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="assignStatus != null" >
        assign_status = #{assignStatus,jdbcType=INTEGER},
      </if>
      <if test="readyStatus != null" >
        ready_status = #{readyStatus,jdbcType=INTEGER},
      </if>
      <if test="getStatus != null" >
        get_status = #{getStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceStatus != null" >
        service_status = #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="cancelStatus != null" >
        cancel_status = #{cancelStatus,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="reqIp != null" >
        req_ip = #{reqIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluation != null" >
        evaluation = #{evaluation,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="hardId != null" >
        hard_id = #{hardId,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        busi_type = #{busiType,jdbcType=INTEGER},
      </if>
      <if test="busiOrderId != null" >
        busi_order_id = #{busiOrderId,jdbcType=VARCHAR},
      </if>
      <if test="busiKeyword != null" >
        busi_keyword = #{busiKeyword,jdbcType=VARCHAR},
      </if>
      <if test="firstOrder != null" >
        first_order = #{firstOrder,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="marketingZkl != null" >
        marketing_zkl = #{marketingZkl,jdbcType=DECIMAL},
      </if>
      <if test="marketingMaxAmount != null" >
        marketing_max_amount = #{marketingMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="busiQiangTime != null" >
        busi_qiang_time = #{busiQiangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhQiangTime != null" >
        bh_qiang_time = #{bhQiangTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printCnt != null" >
        print_cnt = #{printCnt,jdbcType=INTEGER},
      </if>
      <if test="sourceIp != null" >
        source_ip = #{sourceIp,jdbcType=VARCHAR},
      </if>
      <if test="sendType != null" >
        send_type = #{sendType,jdbcType=INTEGER},
      </if>
      <if test="receivableMoney != null" >
        receivable_money = #{receivableMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xedaojia.crowdsource.domain.MainOrderInfo" >
    update zb_main_order_info
    set order_id = #{orderId,jdbcType=VARCHAR},
      mx_order_id = #{mxOrderId,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      req_sys_id = #{reqSysId,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      coupon_ids = #{couponIds,jdbcType=VARCHAR},
      coupon_all_money = #{couponAllMoney,jdbcType=DECIMAL},
      xx_coupon_money = #{xxCouponMoney,jdbcType=DECIMAL},
      wallet_type = #{walletType,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_province_name = #{userProvinceName,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_city_name = #{userCityName,jdbcType=VARCHAR},
      user_district = #{userDistrict,jdbcType=VARCHAR},
      user_district_name = #{userDistrictName,jdbcType=VARCHAR},
      user_19e_area = #{user19eArea,jdbcType=VARCHAR},
      user_19e_area_name = #{user19eAreaName,jdbcType=VARCHAR},
      user_biotope_id = #{userBiotopeId,jdbcType=VARCHAR},
      user_biotope_name = #{userBiotopeName,jdbcType=VARCHAR},
      jwdu = #{jwdu,jdbcType=VARCHAR},
      user_house = #{userHouse,jdbcType=VARCHAR},
      user_addr_id = #{userAddrId,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      accpt_time = #{accptTime,jdbcType=TIMESTAMP},
      is_appoint = #{isAppoint,jdbcType=INTEGER},
      user_grant = #{userGrant,jdbcType=INTEGER},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      yunfee_price = #{yunfeePrice,jdbcType=DECIMAL},
      ptf_price = #{ptfPrice,jdbcType=DECIMAL},
      order_final_price = #{orderFinalPrice,jdbcType=DECIMAL},
      order_original_price = #{orderOriginalPrice,jdbcType=DECIMAL},
      pay_price = #{payPrice,jdbcType=DECIMAL},
      yxjm_price = #{yxjmPrice,jdbcType=DECIMAL},
      xp_price = #{xpPrice,jdbcType=DECIMAL},
      is_fp = #{isFp,jdbcType=INTEGER},
      invoice_type = #{invoiceType,jdbcType=INTEGER},
      fp_type = #{fpType,jdbcType=INTEGER},
      fp_title = #{fpTitle,jdbcType=VARCHAR},
      order_desc = #{orderDesc,jdbcType=VARCHAR},
      market_rule_id = #{marketRuleId,jdbcType=VARCHAR},
      order_accpt_id = #{orderAccptId,jdbcType=VARCHAR},
      order_accpt_name = #{orderAccptName,jdbcType=VARCHAR},
      order_accpt_phone = #{orderAccptPhone,jdbcType=VARCHAR},
      order_accpt_company = #{orderAccptCompany,jdbcType=VARCHAR},
      order_bh_id = #{orderBhId,jdbcType=VARCHAR},
      order_bh_name = #{orderBhName,jdbcType=VARCHAR},
      bh_phone = #{bhPhone,jdbcType=VARCHAR},
      order_hl_id = #{orderHlId,jdbcType=VARCHAR},
      order_hl_name = #{orderHlName,jdbcType=VARCHAR},
      hl_phone = #{hlPhone,jdbcType=VARCHAR},
      order_send_id = #{orderSendId,jdbcType=VARCHAR},
      order_send_name = #{orderSendName,jdbcType=VARCHAR},
      order_send_phone = #{orderSendPhone,jdbcType=VARCHAR},
      active_refund_money = #{activeRefundMoney,jdbcType=DECIMAL},
      active_refund_coupon = #{activeRefundCoupon,jdbcType=DECIMAL},
      passed_refund_money = #{passedRefundMoney,jdbcType=DECIMAL},
      passed_refund_coupon = #{passedRefundCoupon,jdbcType=DECIMAL},
      js_time = #{jsTime,jdbcType=TIMESTAMP},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      assigin_time = #{assiginTime,jdbcType=TIMESTAMP},
      ready_time = #{readyTime,jdbcType=TIMESTAMP},
      get_time = #{getTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      up_status = #{upStatus,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=INTEGER},
      assign_status = #{assignStatus,jdbcType=INTEGER},
      ready_status = #{readyStatus,jdbcType=INTEGER},
      get_status = #{getStatus,jdbcType=INTEGER},
      send_status = #{sendStatus,jdbcType=INTEGER},
      service_status = #{serviceStatus,jdbcType=INTEGER},
      cancel_status = #{cancelStatus,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      req_ip = #{reqIp,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      evaluation = #{evaluation,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      hard_id = #{hardId,jdbcType=VARCHAR},
      busi_type = #{busiType,jdbcType=INTEGER},
      busi_order_id = #{busiOrderId,jdbcType=VARCHAR},
      busi_keyword = #{busiKeyword,jdbcType=VARCHAR},
      first_order = #{firstOrder,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      marketing_zkl = #{marketingZkl,jdbcType=DECIMAL},
      marketing_max_amount = #{marketingMaxAmount,jdbcType=DECIMAL},
      shop_id = #{shopId,jdbcType=VARCHAR},
      busi_qiang_time = #{busiQiangTime,jdbcType=TIMESTAMP},
      bh_qiang_time = #{bhQiangTime,jdbcType=TIMESTAMP},
      print_cnt = #{printCnt,jdbcType=INTEGER},
      source_ip = #{sourceIp,jdbcType=VARCHAR},
      send_type = #{sendType,jdbcType=INTEGER},
      receivable_money = #{receivableMoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zb_main_order_info
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  
</mapper>